.strikethrough {
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  background-color: var(--color-text);
  animation: strike-through 0.3s ease-out forwards;
}

@keyframes strike-through {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
